{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}
{% block content %}

<section class="w-100">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-lg-6 col-sm-12">
            <form method="post" class="card rounded-chat border-color-chat">
                {% csrf_token %}
                <!-- Header -->
                <div class="card-header text-center border-color-chat">
                    <h5 class="m-0 fw-bold">
                        Hello, <span class="title-color-chat">User!</span>
                    </h5>
                </div>
                <!-- Body -->
                <div class="card-body body-chat">
                    <div class="border p-2 rounded border-color-chat">
                        hola
                    </div>
                </div>
                <!-- Footer -->
                <div class="card-footer border-color-chat">
                    <div class="my-3">
                        <div class="d-flex gap-2 align-items-center">
                            <select name="category" class="form-select w-auto border-color-chat" id="id_category">
                                <option value="">Choose</option>
                                <option value="can_not">I can't</option>
                                <option value="will_not">I won't</option>
                                <option value="do_not">I don't</option>
                                <option value="am_not">I ain't</option>
                            </select>
                        
                            <input type="text" name="prompt" class="form-control border-color-chat" placeholder="Enter your thought...">
                            <div class="d-flex justify-content-center align-items-center round-send-chat pointer">
                                <i class="fa-solid fa-paper-plane text-white"></i>
                            </div>
                        </div>                        
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>
{% endblock content %}