.chat-centered {
    display: flex;
    align-items: center;
    /* Vertically center */
    justify-content: center;
    /* Horizontally center */
    min-height: 100vh;
}

.rounded-chat {
    border-radius: 15px;
}

.text-color-chat {
    color: #9B59B6;
}

.border-color-chat {
    border-color: #34495E !important;
}

.round-send-chat {
    height: 25px;
    width: 25px;
    border: 1px solid #34495E;
    border-radius: 50%;
    padding: 20px;
    background-color: #9B59B6;
}

.body-chat {
    height: 50vh;
}