h1, p {
    text-align: center;
}

.dropzone {
    background-color: #bfe4ff;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 0px 5px;
    padding: 10px;
    width: 40%;
    transition: background-color 0.3s;
    height: 140px;
    max-width: 200px;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    /* Ensures the draggable element can receive pointer events */
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 80px;
    height: 50px;
    padding: 2em 0.5em;
    margin: 1rem 0 0 1rem;

    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;

    touch-action: none;
    transform: translate(0px, 0px);

    /* Add transitions for opacity and background color */
    transition: opacity 1s, background-color 2s;

    box-sizing: border-box; /* Include padding and border in dimensions */
    overflow: hidden; /* Prevent text from overflowing */
}

.drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
}

.drag-text {
    transition: opacity 1s; /* Apply the fade-out effect to the text */
    display: inline-block; /* Ensure the text behaves as a block for styling */
text-align: center; /* Center the text inside the box */
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Break long words if necessary */
line-height: 1.2; /* Adjust line height for better spacing */
}

/* disable homepage buttons when in game */
.shapes #quote-shape,
.shapes #quiz-shape,
.shapes #game-shape {
    display: none;
}

/* Hidden elements */
.hidden {
    display: none;
}

#submit-button {
    position: relative;
    z-index: 10;
    pointer-events: auto;
}