{% extends "base.html" %}
{% load static %}
{% block title %}Game{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/game.css' %}">
{% endblock %}
{% block content %}

<h1>Imposter Game</h1>
<p class="h5">What are your thoughts?</p>

<div id="prefix-1-drag" class="drag-drop prefix"> I am </div>
<div id="suffix-1-drag" class="drag-drop suffix"> not enough. </div>

<div class="d-flex justify-content-center align-items-center flex-row">
  <div id="prefix-dropzone" class="dropzone col-6">prefix</div>
  <div id="suffix-dropzone" class="dropzone col-6">suffix</div>
</div>

{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script src="{% static 'js/game.js' %}"></script>
{% endblock %}